# Binaries
**/bin/
bin-int/
Intermediates/

# Dependencies
Dependencies
**/glad.c

# files
*.log

# Visual Studio files and folder
.vs/
External_lib/
x64/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
scripts/__pycache__